@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext);
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 960px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: 'Roboto Slab', serif;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 115px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 959px;
    background: url(../img/top-bg.jpg);
    background-size: cover;
    overflow: hidden;
    z-index: 3;
}
.site__header_v2 {
    background: url(../img/top-bg_v2.jpg);
    background-size: cover;
}
.site__header__wrap {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 282px 0 0 0;
    text-align: center;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 115px;
    border-top: 1px solid #b1c3cd;
    background: #fff;
}
.site__footer-layout {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px 0;
}
.site__content__wrap {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px 0;
}
.site__title {
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
    font-size: 40px;
    line-height: 35px;
    font-weight: 400;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 48px;
    left: 10px;
    font-size: 13px;
    line-height: 45px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 400;
}
.logo img {
    display: block;
    margin-bottom: -14px;
}
/* --------------- /logo --------------- */

/*---------header-callback---------*/
.header-callback {
    position: absolute;
    top: 46px;
    right: 8px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    width: 231px;
}
.header-callback a {
    font-size: 25px;
    line-height: 22px;
    color: #fff;

}
.header-callback a:nth-child(1) {
    display: inline-block;

    margin-bottom: 11px;
}
.header-callback a:nth-child(2) {
    cursor: default;
}
.header-callback a:last-child {
    position: relative;
    font-size: 20px;
    line-height: 41px;
    color: #b3e115;
}
.header-callback a:last-child:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: url(../img/callback-link_border.png);
    bottom: 2px;
    -webkit-transition: left .3s ease, right .3s ease;
    transition: left .3s ease, right .3s ease;
}
.header-callback a:last-child:hover:after {
    left: 50%;
    right: 50%;
}
/*---------/header-callback---------*/

/*---------header-info---------*/
.header-info {

}
.header-info span {
    color: #fffefe;
    font-size: 31px;
    line-height: 55px;
    display: block;
    margin-bottom: 5px;
}
.header-info p {
    position: relative;
    display: block;
    padding: 0 40px 25px;
    font-size: 31px;
    line-height: 45px;
    margin-bottom: 26px;
    color: #fffefe;
}
.header-info p:after {
    content: '';
    position: absolute;
    background: #b3e115;
    height: 2px;
    width: 98px;
    bottom: 0px;
    left: 50%;
    margin-left: -49px;
}
.header-info div {
    font-size: 25px;
    line-height: 45px;
    color: #fffefe;
    margin-bottom: 10px;
}
.header-info .btn {
    margin-top: 11px;
}

.header-info span.header-info__attention {
    font-size: 60px;
    line-height: 1;
    display: block;
    margin-bottom: 6px;
    padding-bottom: 0;
}
.header-info p.header-info__text {
    font-size: 25px;
    line-height: 45px;
    color: #fffefe;
    font-family: "Roboto Slab",serif;
}
.header-info__text:after {
    display: none;
}
/*---------/header-info---------*/

/*---------btn--------*/
.btn {
    position: relative;
    display: inline-block;
    text-align: center;
    border: none;
    width: 301px;
    padding: 6px 0 0;
    height: 66px;
    background: #f1ad2b;
    font-size: 30px;
    line-height: 54px;
    color: #242424;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}
.btn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background: #f0840e;
}
.btn:hover {
    background: #f0840e;
}
/*---------/btn--------*/

/*--------about-------*/
.about {
    min-height: 540px;
    overflow: hidden;
}
.about__wrap {
    padding: 81px 10px 0;
    text-align: center;
}
.about__wrap:after {
    position: absolute;
    content: '';
    right: -481px;
    bottom: -61px;
    width: 726px;
    height: 543px;
    background: url(../img/mouse.jpg);
}
.about__wrap h2 {
    color: #474747;
    margin: 0 0 49px;
}
.about__wrap p {
    position: relative;
    z-index: 1;
    display: block;
    width: 843px;
    font-size: 16px;
    line-height: 30px;
    color: #333;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    padding: 0 0 15px;
}
.about__wrap p img {
    float: left;
    margin: 9px 10px 5px 0;
}
/*--------/about-------*/

/*---------advantages---------*/
.advantages {
    min-height: 796px;
    background: url(../img/middle-fon.jpg);
    background-size: cover;
}
.advantages__wrap {
    padding: 84px 10px 0;
    text-align: center;
}
.advantages__wrap h2 {
    color: #fff;
    margin: 0 0 68px;
}
.advantages__wrap ul {
    position: relative;
    counter-reset: list;
    text-align: left;
    margin: 0 0 0 117px;
}
.advantages__wrap li {
    position: relative;
    font-size: 16px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding: 0 0 0 63px;
    margin-bottom: 43px;
}
.advantages__wrap li:before {
    counter-increment: list;
    content: counter(list)' ';
    position: absolute;
    font-size: 65px;
    line-height: 30px;
    color: #b3e115;
    left: 2px;
    top: 8px;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
}
.advantages__wrap li span {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    display: block;
    color: #b3e115;
    margin-bottom: 14px;
}
/*---------/advantages---------*/

/*----------certificate---------*/
.certificate {
    min-height: 447px;
}
.certificate__wrap {
    padding-top: 33px;
}
.certificate__wrap span {
    text-align: center;
    display: block;
    font-size: 27px;
    line-height: 40px;
    color: #474747;
    margin-bottom: 50px;
    white-space: pre-line;
}
.sertificate__pic {
    text-align: justify;
}
.sertificate__pic:after {
    content: '';
    width: 100%;
    display: inline-block;
}
.sertificate__pic a {
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 8px 2px transparent;
    -webkit-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
}
.sertificate__pic a:hover {
    box-shadow: 0 0 8px 2px grey;
}
.sertificate__pic a img {

}
/*----------certificate---------*/

/*---------new-order--------*/
.new-order {
    min-height: 140px;
    background: #3b6982;
    overflow: hidden;
}
.new-order__wrap {
    overflow: hidden;
    padding-top: 31px;
}
.new-order__wrap span {
    float: left;
    width: 525px;
    font-size: 25px;
    line-height: 35px;
    color: #fff;
}
.new-order__wrap .btn {
    float: right;
    margin-top: 10px;
    width: 254px;
    height: 56px;
    font-size: 25px;
    padding-top: 0;
    line-height: 56px;
}
/*---------/new-order--------*/

/*---------about-work---------*/
.about-work {
    min-height: 566px;
    background: #f5f3f6;
    overflow: hidden;
}
.about-work__wrap {
    padding-top: 83px;
}
.about-work__wrap:after {
    content: '';
    position: absolute;
    left: -480px;
    bottom: -44px;
    width: 775px;
    height: 571px;
    background: url(../img/dead-mouse.jpg) no-repeat;
}
.about-work__wrap h2 {
    color: #474747;
    margin-bottom: 28px;
}
.about-work__wrap ul {
    text-align: center;
    position: relative;
    z-index: 1;
}
.about-work__wrap ul:after {
    content: '';
    position: absolute;
    top: 162px;
    left: 202px;
    width: 571px;
    height: 74px;
    background: url(../img/arrows.png) no-repeat;
}
.about-work__wrap li {
    display: inline-block;
    vertical-align: top;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 27px;
    color: #242424;
    padding: 100px 0 0 0;
    margin: 0 52px 7px;
    height: 181px;
    overflow: hidden;
}
.about-work__wrap li.order {
    background: url(../img/order.png) center 21px no-repeat;
    width: 200px;
}
.about-work__wrap li.cash {
    background: url(../img/cash.png) center 26px no-repeat;
    width: 185px;
}
.about-work__wrap li.no-rat {
    background: url(../img/no-rat.png) center 20px no-repeat;
    width: 225px;
}
.about-work__wrap li.idea {
    background: url(../img/idea.png) center 24px no-repeat;
    width: 270px;
    margin: 0 18px 7px;
}
.about-work__wrap li.delivery {
    background: url(../img/delivery.png) center 33px no-repeat;
    width: 265px;
    margin: 0 31px 7px;
}
/*---------/about-work---------*/

/*----------why-us----------*/
.why-us {
    background: url(../img/bottom-fon.jpg);
    background-size: cover;
    min-height: 515px;
}
.why-us__wrap  {
    padding-top: 92px;
}
.why-us__wrap h2  {
    color: #fff;
    margin-bottom: 65px;
}
.why-us__wrap ul  {
    margin-left: 83px;
}
.why-us__wrap li  {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 366px;
    font-size: 16px;
    line-height: 27px;
    padding: 0 0 0 30px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    margin: 0 109px 38px 0;
}
.why-us__wrap li:nth-child(2n) {
    margin-right: 0;
}
.why-us__wrap li:before  {
    content: '';
    position: absolute;
    left: -3px;
    top: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 3px solid #b3e115;
}
/*----------/why-us----------*/

/*----------footer-logo---------*/
.footer-logo {
    position: absolute;
    left: 10px;
    top: 34px;
    font-size: 12px;
    color: #999;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.footer-logo img {
    display: block;
    width: 158px;
    margin-bottom: 2px;
}
/*----------/footer-logo---------*/

/*---------footer-callback--------*/
.footer-callback {
    position: absolute;
    right: 8px;
    top: 34px;
    text-align: right;
    width: 200px;
}
.footer-callback a {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 7px;
    color: #242424;
    font-family: "Open Sans", sans-serif;
}
.footer-callback a:first-child {
    cursor: default;
}
.footer-callback a:last-child {
    position: relative;
    font-size: 16px;
    color: #3b6982;
}
.footer-callback a:last-child:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 1px;
    background: url(../img/footer-callback-link.png);
    -webkit-transition: left .3s ease, right .3s ease;
    transition: left .3s ease, right .3s ease;
}
.footer-callback a:last-child:hover:after {
    left: 50%;
    right: 50%;
}
/*---------/footer-callback--------*/

/*-----------order----------*/
.order {
    font-family: "Open Sans", sans-serif;
}
.order h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 400;
}
.order p {
    margin: 0 0 12px;
    line-height: 24px;
    font-style: italic;
}
.order input,textarea {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    background: #ffffff;
    border: 1px solid #dedddd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.order textarea {
    height: 90px;
}
.order .btn {
    width: 100%;
    height: 52px;
    border-radius: 3px;
    overflow: hidden;
    font-size: 22px;
    line-height: 40px;
    padding: 1px 0 0;
    margin-bottom: 4px;
    color: #fff;
}
.order__callback {
    text-align: center;
}
.order__callback span {
    display: block;
    margin-bottom: 5px;
}
.order__callback a {
    color: #000;
    cursor: default;
}
.order__agreement {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    display: block;
    width: 220px;
    margin: 5px auto 0;
    text-align: center;
    color: #009ccf !important;
    padding-bottom: 5px;
    cursor: pointer !important;
    position: relative;
}
.order__agreement:after {
    content: '';
    position: absolute;
    left: 6px;
    right: 6px;
    height: 1px;
    bottom: 4px;
    background: #009ccf;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}
.order__agreement:hover:after {
    background: transparent;
}
/*-----------/order----------*/
